[Desktop Entry]
Encoding=UTF-8
Name=Link to Cookbook — Bayesian Modelling with PyMC3 | Eigenfoo
Type=Link
URL=https://eigenfoo.xyz/bayesian-modelling-cookbook/
Icon=text-html
