[Desktop Entry]
Encoding=UTF-8
Name=Link to Create virtual environments for python with conda
Type=Link
URL=https://uoa-eresearch.github.io/eresearch-cookbook/recipe/2014/11/20/conda/
Icon=text-html
